node_modules
uploads
*.log
*.env
.DS_Store
npm-debug.log
yarn-error.log
yarn-debug.log
coverage
dist
build
public/fonts
public/images
src/utils/*.js
src/middleware/*.js
src/services/*.js
src/models/*.js
src/routes/admin/*.js
src/routes/candidat/*.js
src/routes/recruteur/*.js
views/admin/*
views/candidat/*
views/recruteur/*