<!doctype html>
<html lang='fr'>

<head>
    <meta charset='utf-8'>
    <title>MT Rec - Administrateur</title>
    <link rel='stylesheet' href='/stylesheets/accueil.css'>
    
    <!--
    <link rel='stylesheet' href='/stylesheets/connexion.css'>
    <link rel='stylesheet' href='/stylesheets/formulaires.css'>
    <link rel='stylesheet' href='/stylesheets/general.css'>
    -->

    <script src='script.js'></script>
</head>



<body>

    <header>
        <div class='container'>
            <div class='logo'>
                <img src='/images/mt-logo.png' alt='Logo' class='logo'>
            </div>
        
            <nav>
                <a href='#'>Gérer les organisations</a>
                <a href='#'>Gérer les recruteurs</a>
                <a href='#'>Gérer les utilisateurs</a>
                <a href='/admin/monCompteAdmin'>Mon compte</a>
                <a href='/connexion/disconnectUser' class='deconnexion'>Deconnexion</a>
            </nav>
        </div>
        <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    </header>


    <main class='content'>
        <div>
            <div class='disposition_horizontale'>

                <h2>Bon retour parmis<br>nous (Prénom)</h2>

                <div class='disposition_categorie_bouton'>
                    <img src='/images/utilisateur.png' alt='Utilisateur'>
                    <h3>Gestion des<br>utilisateurs</h3>
                </div>

                <div class='disposition_categorie_bouton'>
                    <img src='/images/organisation.png' alt='Organisation'>
                    <h3>Gestion des<br>organisations</h3>
                </div>

                <div class='disposition_categorie_bouton'></div>
                    <img src='/images/recrutement.png' alt='Recruteur'>
                    <h3>Gestion des<br>recruteurs</h3>
                </div>
            </div>  
        </div>
    </main>


    <footer>
        <div class='container'>
            <div class='logo'>
                <img src='/images/mt-logo.png' alt='Logo' class='logo'>
            </div>

            <div class='disposition_verticale'>
                
                <div class='disposition_horizontale'>
                    <a href='#'>A propos de nous</a>
                    <a href='#'>Nous contacter</a>
                </div>

                <div class='copyright'>
                    <p>Copyright - MT Rec 2024©</p>
                </div>

            </div>
            
        </div>
        <!-- TODO: check footer and header consistency and uniformity accross all pages -->
    
    </footer>

</body>

</html>
