<!DOCTYPE html>
<html>

<head>
    <title>MT Rec - Acceuil</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/stylesheets/accueil.css'>

    <!--
    <link rel='stylesheet' href='/stylesheets/connexion.css'>
    <link rel='stylesheet' href='/stylesheets/formulaires.css'>
    <link rel='stylesheet' href='/stylesheets/general.css'>
    -->

</head>

<body>
    <main class='content'>
        <div>

            <div class='disposition_verticale'>

                <div class='img_presentation'>
                    <img src='/images/bureau_connexion.png' alt='Bureau' class='image_connexion'>
                </div>
            
                <div class='disposition_horizontale'>
                    <button onclick='window.location.href='/connexion''>Connexion</button>
                    <button onclick='window.location.href='/inscription''>Inscription</button>
                </div>
                
            </div>

        </div>
    </main>
    
</body>

</html>
