.formulaire {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  padding: 20px;
  width: 300px;
}

.formulaire h2 {
  margin-top: 0;
}

.formulaire {
  margin-bottom: 10px;
}

.formulaire a {
  text-decoration: none;
  font-family: Kanit-Regular;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.formulaire label {
  display: block;
  margin-bottom: 10px;
}

.formulaire input[type="text"],
.formulaire input[type="tel"],
.formulaire input[type="email"],
.formulaire input[type="password"],
.formulaire textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulaire input[type="submit"] {
  background-color: #0074d9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formulaire input[type="submit"]:hover {
  background-color: #0000ff;
}

.formulaire input[type="submit"]:active {
  background-color: #00008b;
}

input[type="submit"]:disabled {
  background-color: black;
  color: white;
  border: 1px solid #444;
}

.formulaire input[type="reset"] {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formulaire input[type="reset"]:hover {
  background-color: #cc0000;
}

.formulaire input[type="reset"]:active {
  background-color: #990000;
}

.formulaire_barre_recherche {
  margin: 5px 0;
  padding: 25px;
  height: fit-content;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.formulaire_barre_recherche .barre_recherche {
  margin: 5px;
  padding: 8px;
  height: 25px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;
  box-sizing: border-box;
}

.formulaire_barre_recherche select {
  height: 34.5px !important;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 5px;
  box-sizing: border-box;
}

.formulaire_barre_recherche .barre1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.formulaire_barre_recherche .barre_recherche_submit {
  cursor: pointer;
  font-size: 13px;
  width: fit-content;

  background-color: #0074d9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formulaire_barre_recherche .barre_recherche_submit:hover {
  background-color: #0000ff;
}

.formulaire_barre_recherche .barre_recherche_submit:active {
  background-color: #00008b;
}

.formulaire_barre_recherche .slider {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulaire_barre_recherche .slider label {
  font-size: 13px;
  margin-right: 10px;
}

.formulaire_barre_recherche .slider input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 5px;
  background: #0074d9;
  outline: none;
  transition: all 0.2s;
}

.formulaire_barre_recherche .slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0074d9;
  cursor: pointer;
  transition: background 0.2s;
}

.formulaire_barre_recherche .slider input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0074d9;
  cursor: pointer;
  transition: background 0.2s;
}

.formulaire_barre_recherche .slider span {
  width: 50px;
  text-align: right;
}

.disposition_verticale_formulaire {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.stylePoste {
  display: flex;
  flex-direction: column;
}
